{% extends 'base.html.twig' %}


{% block body %}
{{ titre }}
<table class="">
    <tr>
        <th>Libelle</th>
        <th>Fillier</th>
        <th>Niveau</th>
    </tr>
    {% for class in classes %}
        <tr>
        <td>{{ class.libelle }}</td>
        <td>{{ class.filier }}</td>
        <td>{{ class.niveau }}</td>
        <td><a href="{{path('app_ajouteclass',{id: class.id}) }}">Supprimer</a></td>
        <td><a href="{{path('app_ajouteclass',{id: class.id}) }}">Detail</a></td>
        <td><a href="{{path('app_ajouteclass',{id: class.id}) }}">Modifier</a></td>
        </tr>
    {% endfor %}
</table

{% endblock %}
