{% extends 'base.html.twig' %}


{% block body %}
{{title}}

<table class="">
    <tr>
        <th>Libelle</th>
    </tr>
    {% for module in modules %}
        <tr>
            <td>{{module.libelle}}</td>
        </tr>
        <td><a href="{{path('app_module', {id: module.id}) }}">Supprimer</a></td>
        <td><a href="{{path('app_module', {id: module.id}) }}">Detail</a></td>
        <td><a href="{{path('app_module', {id: module.id}) }}">Modifier</a></td>
    {% endfor %}
<table>
{% endblock %}
