{% extends 'base.html.twig' %}
{% block body %}

	<h2>{{ titre }}</h2>
	<div class="example-wrapper">
		<table class="example">
			<tr>
				<th>N°</th>
				<th>Nom Complet</th>
		        <th>Login</th>
	            <th>Adresse</th>
                <th>Sexe</th>
                 <th>Etat</th>
                <th>Matricule</th>

            </tr>
    <h1>
        {% set i= 0 %}
        {% for etudiant in etudiants %}
        <tr>
            <td>{% set i= i+1 %}{{i}}</td>
            <td>{{etudiant.nonComplet}}</td>
            <td>{{etudiant.Login}}</td>
            <td>{{etudiant.Adresse}}</td>
            <td>{{etudiant.Sexe}}</td>
            <td>{{etudiant.Etat}}</td>
            <td>{{etudiant.Matricule}}</td>
           <td> <a href="{{path('app_supprimer', {id: etudiant.id}) }}" class="btn btn-primary">Supprimer</a></td>
           <td> <a href="{{path('app_afficher', {id: etudiant.id}) }}" class="btn btn-primary">Detail</button></td>
            <td><a href="{{path('app_edith', {id: etudiant.id}) }}" class="btn b btn-primary">Modifier</a></td>
        </tr>{% endfor %}
    </h1>
</table>
</div>
{{ knp_pagination_render(etudiants) }}{% endblock %}
